.subtitle {
  padding: 15px 0;

  text-align: center;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 32px;
  letter-spacing: 0.06em;
  line-height: 1.71;
  color: var(--main-text-color);
}

.home__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.home__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.home__link {
  border-radius: 0px 0px 5px 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: #ffffff;
  text-decoration: none;

  transition: scale var(--duration) var(--timing-function);
}

.home__link:hover {
  scale: 1.05;
}

.home__img {
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.home__text {
  padding: 10px 0;

  text-align: center;
  font-size: 18px;
  letter-spacing: 0.06em;

  color: var(--secondary-text-color);
}
