.header,
.footer {
  width: 1300px;
  margin-left: auto;
  margin-right: auto;

  border-radius: 5px;

  background-color: #4158d0;
  background-image: linear-gradient(
    43deg,
    #4158d0 0%,
    #c850c0 46%,
    #ffcc70 100%
  );
}

.nav__list {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 30px;
}

.nav__list::before {
  content: url(../../images/icon.svg);
  width: 60px;
}

.nav__link {
  background-image: linear-gradient(
    to right,
    #ff522fc9 0%,
    #dd2477c5 51%,
    #ff522fbe 100%
  );
  margin: 10px;
  padding: 15px 45px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.06em;
  transition: var(--duration) var(--timing-function);
  background-size: 200% auto;
  color: white;
  box-shadow: 0 0 20px #8efbffc4;
  border-radius: 25px;
  display: block;
}

.nav__link:hover {
  scale: 1.1;
  background-position: right center; /* change the direction of the change here */
  color: #ffffff;
  text-decoration: none;
}

.footer__text {
  padding: 15px 0;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.06em;
  text-align: center;
  color: white;
}

.footer__link {
  color: var(--main-text-color);
}
